<section class="container mx-auto mt-4">
    <h1 class="text-2xl text-red-500">Example title using Tailwind</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
</section>

<div class="container mx-auto mt-4">
    <h1 class="text-2xl text-green-700">Siema</h1>
</div>

<section class="container mx-auto mt-4">
    <h1 class="text-2xl mb-2 text-teal-700">Hello</h1>
    <button type="button" class="bg-green-500 p-2 hover:bg-green-400">hello</button>
</section>


{{outlet}}